<script>
    // 取得瀏覽器語言
    function getBrowserLang() {
        let browserLang = navigator.language.toLowerCase();
        if (browserLang == "zh" || browserLang.indexOf("zh-") === 0) {
            return "zh-TW";
        }
        return "en";
    }
    var pathName = location.pathname; // 網址路徑，例如 /aeropic/zh-TW/index.html
    // 如果網址不帶語言，則轉址
    if (pathName.includes("/zh-TW/") || pathName.includes("/en/")) {} else {
        var pageName = pathName.split("/").pop(); // 頁面名稱，例如 index.html
        location.replace(getBrowserLang() + "/" + pageName);
    }
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> <%- t("head.title") %> </title>
<meta name="Description" content="<%- t("head.description") %>" />
<meta name="KeyWords" content="<%- t("head.keyWords") %>" />

<!-- 分享網頁時使用的資料 -->
<meta property="og:title" content="<%- t("head.title") %>" />
<meta property="og:description" content="<%- t("head.description") %>" />
<meta property="og:image" content="https://hbl917070.github.io/aeropic/img/index/filePanel.jpg" />

<!-- 瀏覽器圖示 -->
<link rel="Shortcut Icon" type="image/x-icon" href="<%-root%>/img/tiefseeLogo.png" />

<!-- 手機圖示 -->
<link href="<%-root%>/img/tiefseeLogo.png" rel="apple-touch-icon" sizes="192x192">


<!--google字體-->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC" rel="stylesheet"> -->

<link rel="stylesheet" href="<%-root%>/css/app.css">


<meta name="google-site-verification" content="zYvV1X927q4vGUshgLZIAAryp3co6ob9vCwbhPM167o" />